<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=">
    <link rel="stylesheet" type="text/css" href="/css/style.css">


</head>


<title> {{ title }}</title>
<header>
    {{#if loggedIn}}
    {{> header}}
    {{/if}}
</header>

<body>
    {{{ body }}}
</body>
<footer>{{#if loggedIn}}
    {{> footer}}
    {{/if}}</footer>

</html>