<div class= 'grid-main'>
        <div class='grid-main-header'>
                <p id="title"> H C BEALES</p>
                <p id="subtitle"> Work App </p>
        </div>

        <div class="grid-main-body">
                <script src= "/js/loginTest.js"></script>
                <form id='loginForm'>
                        <p><input class= 'text-fields'type="text" id="username" placeholder="Username"></p>
                        <p><input class= 'text-fields' type="password" id="password" placeholder="Password"></p>
                        <p><button class= 'buttons-freeform' type="button" onclick="getInfo()">Login</button></p>
                        <p><button class= 'buttons-freeform' type="button" onclick= "window.location.href='/other'"> Forgot password</button></p>
                        

                </form>
        </div>
        <div class='grid-main-footer'>Copyright © Group Proton 2021</div>
</div>
