<h4>Create Account</h4>

<form action="/registration" method="POST">
    <label class="sr-only" for="firstName">firstName</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="First name" name="name" value={{name}}>
    </div>

    <label class="sr-only" for="Password">Password</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Password" name="password" value={{password}}>
    </div>

    <label class="sr-only" for="userName">userName</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Username" name="username" value={{username}}>
    </div>
    <button type="submit" class="btn btn-primary">Create Account</button>
    <a href="/" class="btn btn-danger"> Cancel </a>
</form>